<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do Fancy API</title>
    <!-- <script type="text/javascript" href="/assets/JS/jquery.3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <!-- Facebook SDK -->
    <script type="text/javascript">
      function statusChangeCallback(response) {
        console.log(response);
        if (response.status === 'connected') {

          let inputData = {
            token: response.authResponse.accessToken,
            userID: response.authResponse.userID
          }

          console.log(inputData);
          $.ajax({
            type: 'post',
            url: 'http://localhost:3000/users/fblogin',
            data: inputData,
            dataType: 'json',
            success: function(respon){
              if (!respon.data) {
                // console.log("HAI");
                $("#logerror").html(respon.message)
              } else {

                localStorage.setItem('token', respon.data)
                window.location.reload()
              }
            },
            fail: function(){
              console.log("ERROR");
            }
          })
        } else {
          $('#loginform').show(200)
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      function logout(){
        swal({
          title: "You want to logout? :(",
          text: "Please dont leave me :(",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((out) => {
          FB.logout(function(resp){
            console.log("User is now logged out");
          })

          localStorage.removeItem('token')
          swal("Byeeeeee Darling", "I'll be waiting", "success")
          window.location.reload()
        })
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : 195417424336474,
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };


      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->
    <div id="app">
      <form id="loginform" v-on:submit.prevent="checkLogin()" method="post">
        <h2>Login</h2>
        <span>{{ errorMessage }}</span><br><br>
        <input type="text" name="username" placeholder="Username" required /><br><br>
        <input type="password" name="password" placeholder="Password" required /><br><br>
        <fb:login-button size='xlarge' scope="public_profile,email" onlogin="checkLoginState();">.</fb:login-button>
        <input type="submit" value="Login"/> <a id="register">Register</a>
      </form>

      <form id="registerform" v-on:submit.prevent="checkRegister()" method="post">
        <h2>Register</h2>
        <span>{{ errorMessage }}</span><br><br>
        <input type="text" name="signusername" placeholder="Username" required /><br><br>
        <input type="password" name="signpassword" placeholder="Password" required /><br><br>
        <input id="email" type="email" name="signemail" placeholder="Email" required /> <span id="emailerr"></span><br><br>
        <input type="submit" value="Register" /> <a class="back">Back</a>
      </form>

      <div id="content" >
        <button id="logout" onclick="logout()">Logout</button>
        <h2>My ToDo List</h2>
        <table class="todolist">
          <tbody>
            <tr v-for="(value, index) in todoList">
              <td><img v-bind:src="value.src" alt="Mark Image"></td>
              <td>{{ value.description }}</td>
              <td> ~~~ </td>
              <td>Deadline : {{ value.formatedDL }}</td>
              <td>
                <button class='finish' v-on:click="updateTodo(index)" v-if="value.buttonCondition === ''">Finished</button>
                <button class='finish' v-else hidden>Finished</button>
                <button class='delete' v-on:click="deleteTodo(index)" >Delete</button>
              </td>
            </tr>
          </tbody>
        </table><br>
        <button id="togle">Show Add Todo Form</button>
      </div>

      <form id="inputform" v-on:submit.prevent="addTodo()" method="post">
        <textarea name="description" rows="8" cols="50" placeholder="Description" required></textarea><br><br>
        <input type="date" name="deadline" > <span>YYYY/MM/DD</span><br><br>
        <input type="submit" name="submit" value="Add Todo">
      </form>
    </div>

    <script type="text/javascript" src="assets/JS/vue.js"></script>

    <!-- ~~~~~~~~~~~~~~~~~~~~script~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <script>
        // email validation regex
        $('#email').on('keypress', function(){
          let pattern = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
          if (!pattern.test(this.value)) {
            $('#emailerr').html("<img src='assets/images/false.png' width='12px'> Invalid Email").css({"color":"red"}).show()
          } else {
            $('#emailerr').html("<img src='assets/images/true.png' width='12'> Cool Email!").css({"color": "green"}).show()
          }
        })

        $('#register').on('click', function(){
          $('#loginform').hide(200)
          $('#registerform').show(200)
        })

        $('.back').on('click', function(){
          $('#loginform').show(200)
          $('#registerform').hide(200)
        })

        $('#togle').on('click', function(){
          if ($(this).text() === "Show Add Todo Form"){
            $(this).text("Hide Add Todo Form").css({'background-color':'white', 'color':'orange'})
          } else {
            $(this).text("Show Add Todo Form").css({'background-color':'orange', 'color':'white'})
          }

          $('#inputform').toggle(200)
        })
    </script>
  </body>
</html>
