*{
  margin: auto;
  padding: auto;
  font-family: 'Indie Flower', cursive;
}

body{
  width: 100%;
  background: url('../images/todoapp.png') no-repeat fixed;
  background-size: cover;
}

/*-------------FORM--------------------*/

#loginform, #registerform, #content, #inputform{
  display: none;
}

#loginform, #registerform{
  float: left;
  width: 20%;
  margin: 13% 38%;
  border-radius: 10%;
  padding: 2%;
  background-color: black;
  opacity: 0.8;
  color: white;
  box-shadow: 1px 1px 20px rgba(0,0,0,1);
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  -moz-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  -o-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#loginform h2, #registerform h2{
  font-size: 26px;
}

#loginform input[type='text'], #loginform input[type='password']{
  width: 94%;
  padding: 3%;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0px;
  text-align: center;
}

#loginform input[type='submit']{
  float: left;
  padding: 3%;
  margin-right: 2%;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  border-radius: 5%;
  color: orange;
  cursor: pointer;
}

#loginform input[type='submit']:hover{
  background-color: orange;
  color: white;
  border-radius: 30%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

a#register{
  float: right;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 2%;
}

a#register:hover{
  color: orange;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#registerform{
  padding-bottom: 4%;
}

#registerform input[type='text'], #registerform input[type='password']{
  width: 94%;
  padding: 3%;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  text-align: center;
}

#registerform input[type='email']{
  width: 49%;
  padding: 3%;
  background: orange;
  color: white;
  font-weight: bold;
  border: 0px;
  text-align: center;
}

#emailerr{
  width: 39%;
  padding: 3%;
  font-size: 18px;
}

#registerform input[type='submit']{
  float: left;
  padding: 3%;
  margin-right: 2%;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  border-radius: 5%;
  color: orange;
  cursor: pointer;
}

#registerform input[type='submit']:hover{
  background-color: orange;
  color: white;
  border-radius: 30%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

a.back{
  float: right;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 2%;
}

a.back:hover{
  color: orange;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#inputform{
  width: 40%;
  padding: 2%;
  background: orange;
  text-align: center;
}

#inputform textarea{
  width: 96%;
}

#inputform textarea, #inputform input[type='date'], #inputform input[type='submit']{
  text-align: center;
  padding: 2%;
  border: 0px;
  font-size: 18px;
}

#inputform input[type='submit']{
  cursor: pointer;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

#inputform input[type='submit']:hover{
  border-radius: 15%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

#inputform span{
  color: white;
  font-weight: bold;
  padding-left: 1%;
}

/* ---------------------content---------------------------------*/

#content{
  width: 60%;
  background: black;
  padding: 2%;
  opacity: 0.9;
  text-align: center;
}

#content h2{
  text-align: center;
  font-size: 26px;
  background: orange;
  padding: 1%;
  color: white;
	animation: text-flicker-in-glow 4s linear both;
  -webkit-animation: text-flicker-in-glow 4s linear both;
  -moz-animation: text-flicker-in-glow 4s linear both;
  -o-animation: text-flicker-in-glow 4s linear both;
}

.todolist{
  width: 65%;
  color: white;
  display: flex;
  flex-direction: column;
}

.todolist .list{
  width: 98%;
  margin-top: 10px;
  box-sizing: content-box;
  text-align: left;
}

.todolist .listTitle{
  float: left;
  width: 98%;
  padding: 1%;
  margin-bottom: 10px;
  background-color: white;
  color: orange;
  border-bottom: 1px solid orange;
}

.todolist .listTitle img{
  float: left;
  margin-right: 20px;
  width: 20px;
}

.todolist .listTitle h3{
  float: left;
}

.todolist .listDeadline{
  background-color: #eaeaea;
  color: black;
  width: 100%;
  padding: 0px;
  /*float: left;*/
  text-align: center;
}

.todolist .listDeadline .action{
  width: 100%;
  padding: 0px;
  /*float: left;*/
  text-align: center;
  /*background-color: blue;*/
}


/*.todolist tr:nth-child(even) {
  background-color: #f2f2f2
}*/

.finish, .delete{
  width: 49%;
  border: 0px;
  text-align: center;
  padding: 2%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  /*box-sizing: content-box;*/
}

.finish:hover, .delete:hover{
  border-radius: 20%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  box-shadow: 1px 1px 5px rgba(1,1,1,0.8);
}

.finish{
  /*float: left;*/
  background-color: lightgreen;
}

.finish:hover{
  background-color: white;
  color: lightgreen;
}

.delete{
  /*float: right;*/
  background-color: red;
}

.delete:hover{
  background-color: white;
  color: red;
}

#togle{
  border: 0px;
  padding: 1%;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#logout{
  /*float: left;*/
  width: 100%;
  border: 0px;
  padding: 1.5%;
  color: orange;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

#logout:hover{
  background-color: red;
  color: white;
}

@media screen and (max-width: 980px) {
  body {
      width: 100%;
      background: url('../images/M-todoapp.jpg') fixed;
      background-repeat: repeat-y;
      background-size: cover;
  }

  .todolist .listTitle{
    float: left;
    width: 94%;
    padding: 3%;
    margin-bottom: 10px;
    background-color: white;
    color: orange;
    border-bottom: 1px solid orange;
  }

  #togle{
    width: 40%;
    border: 0px;
    padding: 2%;
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  body {
      width: 100%;
      background: url('../images/M-todoapp.jpg') fixed;
      background-repeat: repeat-y;
      background-size: cover;
  }

  #loginform, #registerform{
    width: 90%;
    float: left;
    margin: 35% 1%;
    border-radius: 10%;
    padding: 4%;
    background-color: black;
    opacity: 0.8;
    color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,1);
  }

  #content{
    width: 96%;
    background: black;
    padding: 2%;
    opacity: 0.9;
    text-align: center;
  }

  #content h2{
    text-align: center;
    background: orange;
    padding: 3%;
    color: white;
  }

  .todolist{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .todolist .listTitle{
    float: left;
    width: 96%;
    padding: 2%;
    margin-bottom: 10px;
    background-color: white;
    color: orange;
    border-bottom: 1px solid orange;
  }

  .finish, .delete{
    width: 100%;
    border: 0px;
    text-align: center;
    padding: 2%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    /*box-sizing: content-box;*/
  }

  #togle{
    width: 100%;
    border: 0px;
    padding: 3%;
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #inputform{
    width: 96%;
    padding: 2%;
    background: orange;
    text-align: center;
  }

  #logout{
    /*float: left;*/
    width: 100%;
    border: 0px;
    padding: 3%;
    color: orange;
    cursor: pointer;
    font-weight: bold;
  }
}
